/
/*列表显示*/

.list-item {
	margin-top: 0px !important;
	padding: 0;
}

.list-item li {
	padding: 16px 0 16px 15px;
}

.list-item li a img {
	max-width: 110px !important;
	height: 82px !important;
}

.list-item .mui-media-body h4 {
	font-size: 16px;
	color: #535353;
	line-height: 19px;
}

.list-item .mui-media-body p {
	font-size: 14px;
	color: #A4A4A4;
	margin: 0 0 17px;
}

.list-item .mui-media-body span {
	font-size: 16px;
	color: #56BA22;
}