/*按钮显示*/

.button {
	margin: 15px 10px;
}

.block-button {
	border-radius: 3px;
	padding: 14px 149px;
	width: 100%;
	font-size: 20px;
	color: #FFFFFF;
}

.two-button {
	border-radius: 3px;
	padding: 14px 30px;
	font-size: 16px;
	color: #FFFFFF;
}

.two-button-second {
	float: right;
}

.button-green {
	background: #06BE04;
}

.button-green1 {
	background: #DDF1D3;
}

.button-red {
	background: #FF5000;
}

.button-yellow {
	background: #FF9402;
}


/*列表显示*/

.list-item {
	margin-top: 0px !important;
	padding: 0;
}

.list-item li {
	padding: 16px 0 16px 15px;
}

.list-item li a img {
	max-width: 110px !important;
	height: 82px !important;
}

.list-item .mui-media-body h4 {
	font-size: 16px;
	color: #535353;
	line-height: 19px;
}

.list-item .mui-media-body p {
	font-size: 14px;
	color: #A4A4A4;
	margin: 0 0 17px;
}

.list-item .mui-media-body span {
	font-size: 16px;
	color: #56BA22;
}