@charset "utf-8";
$color-red1:#FF5000;
$color-red2:#FF9402;
$color-green: #06BE04;
$color-green1: #DDF1D3;
$color-green2: #55BB22;
$color-yellow: #FF6500;
$color-yellow1: #FF7200;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #A5A5A5;
$color-gray1: #585858;
$color-gray2: #242424;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-40: 40px;
$margin-50: 50px;
$padding-5:5px;
$padding-10:10px;
$padding-15:15px;
$padding-20:20px;
$padding-25:25px;
$padding-30:30px;
$padding-35:35px;