@charset "utf-8";
@import "common-param.scss";
.line-1 {
    width: 100%;
    border: 1px solid #D8D8D8;
}

.vertical-line-1 {
    width: 1px;
    height: 70%;
    margin: auto 0px;
    vertical-align: middle;
}

.app-icon {
    span {
        display: inline-block;
        margin: 0 20px 0 20px;
        color: $color-gray1;
    }
}

.content {
    margin-top: $margin-15;
    height: 160px;
    textarea {
        height: 100%;
    }
}

.thumb-data-list {
    margin-top: 0 !important;
    li {
        padding: 15px;
        a {
            img {
                width: 105px;
                height: 75px;
                margin-right: $margin-15;
            }
            .mui-media-body {
                h4 {
                    font-size: $font-size-16;
                    color: $color-gray2;
                }
                p {
                    font-size: $font-size-14;
                    color: $color-gray;
                }
                span {
                    font-size: $font-size-14;
                    color: $color-green;
                }
            }
        }
    }
}

.detail-data-list:first-child {
    margin-top: 0;
}

.detail-data-list {
    margin-top: $margin-15;
    li {
        a {
            img {
                height: 50px;
                width: 70px;
                margin-right: $margin-15;
            }
            .mui-media-body {
                h4 {
                    font-size: $font-size-16;
                    color: $color-gray2;
                }
                p {
                    font-size: $font-size-14;
                    color: $color-gray;
                }
                span {
                    font-size: $font-size-14;
                    color: $color-green;
                }
            }
        }
        font-size: $font-size-16;
        line-height: 25px;
        label {
            color: $color-gray1;
        }
        span {
            color: $color-gray2;
            float: right;
        }
    }
}

.remark-message {
    padding: $padding-15;
    margin-top: $margin-15;
    background: $color-white;
    h3 {
        border-left: 2px solid $color-green;
        color: $color-green;
        padding-left: $padding-15;
        font-weight: 300;
        font-size: $font-size-16;
    }
    div {
        font-size: $font-size-14;
        margin-top: $margin-15;
        span {
            padding: $padding-5 0px;
            font-size: $font-size-16;
        }
    }
}

.tab-top-nav {
    height: 50px;
    width: 100%;
    padding: $padding-15;
    font-size: $font-size-14;
    background: $color-white;
    color: $color-gray;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    .tab-nav-item {
        display: inline-block;
        margin: auto;
        padding: 0 $padding-5;
        span {
            color: $color-white;
        }
    }
    .active {
        color: $color-green;
        span {
            background: $color-green;
        }
    }
}

.tab-top-nav::-webkit-scrollbar {
    display: none;
}

.app-button {
    margin: $margin-40 $margin-15;
    .block-button {
        font-size: $font-size-20;
        color: $color-white;
        border-radius: 4px;
        padding: $padding-15;
        width: 100%;
        background: $color-green;
    }
    .two-button button {
        font-size: $font-size-20;
        color: $color-white;
        background: $color-red2;
        padding: $padding-15;
        border-radius: 4px;
    }
    .two-button {
        margin-top: $margin-25;
        .first-button {}
        .second-button {
            float: right;
        }
    }
    .disabled {
        background: $color-gray;
    }
}

.certificate {
    margin: $margin-15;
    text-align: center;
    span {
        display: inline-block;
        background: $color-white;
        border: 1px solid $color-gray;
        border-radius: 6px;
        text-align: center;
        padding-top: $padding-10;
        img {
            width: 50px;
            height: 30px;
            margin: $padding-5 40px;
        }
        p {
            font-size: $font-size-14;
            color: $color-gray;
        }
    }
    .left {
        margin-right: $margin-15;
    }
}

body {
    .mui-bar-nav {
        background: $color-green;
        height: 50px;
        line-height: 25px;
        a,button,h1 {
            color: $color-white !important;
            font-size: $font-size-18 !important;
        }
    }
}