@charset "utf-8";
@import "common-param.scss";
.repair-detail {
    .pic-desp {
         padding: $padding-10 $padding-15;
        div {
            font-size: $font-size-14;
            color: $color-gray;
        }
        ul{
            list-style: none;
            padding: 0px;
            li{
                display: inline;
                margin-right: $margin-10;
                position: relative;
                img{
                    width: 80px;
                    height: 80px;
                }
                a{
                    position: absolute;
                    left: 70px;
                    top: -75px;
                    img{
                        display: none;
                        width: 22px;
                        height: 22px;
                    }
                }
                .active{
                    img{
                        display: block;
                    }
                }
                
            }
        }
    }
}